html {
  scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Handlee', cursive;
}

/*=========== nav =========== */
#main { width:100%; }
 
nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	box-shadow: 5px 10px 30px rgba(0,0,0,0.05);
	width:100%;
	background-color: #000000e3;
  position: fixed;
  z-index: 2;
}
nav div img {
    position: absolute;
    width: 200px;
    top: -50px;
    left: 90px;
    cursor: pointer;
}
nav ul{
	display: flex;
	list-style:none;
}
nav ul li a{
    height: 30px;
    line-height: 25px;
    padding: 2px 8px;
    margin-left: 10px;
    display: flex;
    font-size: 1rem;
    text-transform: capitalize;
    color: #f9f9f9;
    font-weight: 600;
    letter-spacing: 1.6px;
    text-decoration: none;
}

nav ul li a:hover{
  color: #f00;
  transition: background-color 0.3s ease-in-out;
}

/* =================== home setcion style */
  #home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
#home video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
#home  p, #home  q{
  color: #fff;
  font-size: 3.5vw;
  margin: 0;
  text-transform: capitalize;
  text-shadow: -6px 2px 4px #000;
  font-weight: bolder;
  font-family: 'Courier New', Courier, monospace;
}
  #home .content-home {
    position: relative;
  }
  
  .content-home  h1 {
    font-size: 6vw;
    text-align: center;
    color: transparent;
    text-shadow: 0px 16px 40px #000000 ;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0px;
    padding: 0px;
    -webkit-text-stroke: 0.3vw #000;
  }  

.content-home  h1::before {
  content: "filmmaker&designer ";
  position: absolute;
  left: 0px;
  top: 1%;
  width: 100%;
  height: 100%;
  text-shadow: none;
  overflow: hidden;
  color: #eee;
  border-right: 2px solid rgb(255, 255, 255);
  -webkit-text-stroke: 0.3vw #000;
  animation: animate 6s linear infinite;
  -webkit-animation: animate 8s linear infinite;
}
#home  q{ font-size: 2vw; background-color: #000;}
@keyframes animate {
  0%,10%, 100% {
    width: 0;
  }
  70%,90% {
    width: 100%;
  }
}
  .box-card01 {
    padding: 1.5vw;
    position: absolute;
    right:0; top: 40%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    border-right: none;
    border-radius: 10px 0 0 25px;
}

.box-card01 a i {
    color: #ffff;
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.box-card01 a i:hover {
    color: rgba(255, 255, 255, 0.616);
}
/* ==============style of section about me============= */
#about {
    min-height: 100vh;
    background: linear-gradient( 
      -45deg, #493f3e, #627f82, #4a8176, #234d48);
    background-size: 350% 350%;
    animation: change 10s ease-in-out;
    -webkit-animation: change 10s ease-in-out infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 2rem;
}
#about::after, #about::before {
  content: "";
  width: 19vw;
  height: 19vw;
  background: linear-gradient( to right bottom, rgb(114 233 217 / 29%), #5b6e70);
  box-shadow: 0px 16px 40px #00000050;
  border-radius: 50%;
  position: absolute;
  bottom: 150px;
  right: 170px;
}
#about::before {
  width: 16vw;
  height: 16vw;
  top: 140px;
  left: 150px;
}
.content-about {
  width: 60%;
  color: #000;
  z-index: 1;
}
 #about .content-about h2 {
  margin: 0;
  font-size: 35px;
  text-transform: capitalize;
  font-weight: bold;
}
#about .content-about .container-about p {
  line-height: 1.8rem;
  font-size: 20px;
  color: #000;
}
.read-more-btn{
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  border: 2px solid #fff;
  padding: 8px;
  width: 8vw; 
  border-radius: 20px;
  background-color: transparent;
  transition: 0.4s;
}
.read-more-btn:hover {
  color: #727272;
  background-color: #f8f8f8;
}

.read-more-text{
  display: none;
}

.read-more-text--show{
  display: inline;
}
@keyframes change {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

/* ==============preset section style ========= */
.preset{
  height: auto;
  padding: 2rem;
}
.preset .box-text-preset {
  margin-bottom: 2rem;
}
.preset .box-text-preset h2{
  font-size: 2.5rem;
  color: #000;
  text-transform: capitalize;
}
.preset .content-preset {
  padding-right: 2rem;
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fill, minmax(350px, 350px));
  grid-template-rows: repeat(3,auto);
  justify-content: space-evenly;
  margin-bottom: 25px;
}
.preset .content-preset  .box-preset  {
  background-color: #f8f8f8;
  border: 2px solid #e8e8e8;
  box-shadow: -6px 5px 15px #888;
  height: 300px;
  border-radius: 4px;
  padding: .5rem;
  position: relative;
} 
.preset .content-preset  .box-preset .befor-preset{
  height: 100%; width: 100%;
} 
.preset .content-preset  .box-preset .befor-preset img{
  height: 30%; width: 30%;
  display: block;
  margin-bottom: 20px;
} 
.preset .content-preset  .box-preset .befor-preset h3{
  color: #000;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5vw;  
} 
.preset .content-preset  .box-preset .befor-preset p{
  font-size: 14px;
  color: #1A1A1A;
  font-family: adobe-clean,sans-serif;
  margin-bottom: 20px;
  width: 100%;
  line-height: 1.2em;
} 
.preset .content-preset  .box-preset .befor-preset a{
  float: right;
  position: absolute;
  bottom: 10px;
  right: 55px;
  border: 1px solid #888;
  border-radius: 8px;
  background-color: transparent;
  color: #000;
  padding: 8px;
  font-size: 16px;
  font-weight: bold;
  transition: .3s ease-in;
  cursor: pointer;
} 
.preset .content-preset  .box-preset .befor-preset .vieu-preset{ right: 165px;} 
.preset .content-preset  .box-preset .befor-preset a:hover{ background-color: #1f1f1f; color: #fff;}
.preset .content-preset  .box-preset .befor-preset span{
  float: right;
  position: absolute;
  bottom: 15px;
  right: 10px;
} 

.slider {
	width: 500px;
	height: 400px;
	margin: auto;
	overflow: hidden;
}

.slider ul {
	padding: 0;
	margin: 0;
	list-style: none;
	width: 100%;
	height: 100%;
	display: -webkit-inline-box;
	position: relative;
	animation: sliding 30s ease-in-out infinite;
	-webkit-animation: sliding 30s ease-in-out infinite;
}
.slider ul li {
  width: 100%;
  height: 100%;
}
.slider ul li img{
  width: 100%;
  height: 100%;
}

.slider ul h5 {
	background-color: #1917176b;
	color: #fff;
	padding: 15px;
	margin: 0;
	text-align: center;
  text-transform: capitalize;
	position: absolute;
	bottom: 0;
	width: 96%;
}
@keyframes sliding {
	0%, 10%  {left: 0;}
	15%, 20% {left: -100%;}
	25%, 30% {left: -200%;}
	35%, 40% {left: -300%;}
	45%, 50% {left: -400%;}
	55%, 60% {left: -500%;}
	65%, 70% {left: -600%;}
	75%, 80% {left: -700%;}
	85%, 90% {left: -800%;}
	95%, 100% {left: -900%;}
	100%, 0% {left: 0px;}
}
.galery{
  margin: 10px 50px;
  text-align: center;
}
.galery img {
  transition: 0.5s;
  margin: 0;
  width: 30%;
  border: none;
}
.galery img:hover {
  transform:scale(1.1);
  background-color: none;
 
}

/*============contact=======================*/
#contact{
  background-color: #000;
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 2rem;
}
#contact .content-form {
  width: 100%;
  height: auto;
  border-right: 2px solid rgb(100, 100, 100);
}
#contact .content-form form label {
  color: #fff;
  font-size: 1.5rem;
  display: block;
  margin-bottom: 10px;
}
#contact .content-form form  input,textarea{
  width: 60%;
  height: 35px;
  padding: 8px;
  margin-bottom: 10px;
  font-size: 18px;
  background-color: #222;
  outline: none;
  border: none;
  color: #f5f5f5;
  border-radius: 6px;
}
#contact .content-form form  textarea {
  width: 85%;
  height: 100px;
}
#contact .content-form form  .btn input{
  text-transform: capitalize;
  width: 150px;
  height: 35px;
  margin: 0 10px 0 0;
  padding: 0;
  font-size: 1.5rem;
  background-color: rgba(255, 68, 0, 0.808);
  outline: none;
  cursor: pointer;
  border: none;
  margin: .4rem;
}
#contact .content-form form  .btn input:hover {
  background-color: rgba(255,68,0,0,900);
}
/*============== the second parte of contact */
#contact .info-contact{
  padding: 2rem;
  color: #fff;
}
#contact .info-contact .sec i{
  font-size: 2rem;
}
#contact .info-contact .sec p{
  font-size: 1.4rem;
}
/*========= card parte style */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 600px;
}
.container a {
  text-decoration: none;
  color: #e8e8e8;
}
.container a i{
  font-size: 35px;
  margin-left: 30px;
}
.container a i:hover{
  color: #e8e8e8c4;
}

/*================== style of footer =========== */
footer {
    width: 100%;
    background-color: #000;
    padding: 20px 0;
    text-align: center;
    border-top: 2px solid rgb(100, 100, 100);
}
footer p {
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-weight: 200;
    letter-spacing: 2.5px;
}